@media (max-width: 768px) {
    button {
        min-width: 84px;
        line-height: 15px;
        border-radius: 2.6px;
        padding: 10px;
    }

    header {
        color: $white;
        height: 50px;
        line-height: 50px;

        h4 {
            font-size: 20px;
            height: 30px;
            text-align: center;
            padding-top: 5px;
        }

        .close-icon:before, 
            .close-icon:after {
            background: $white;
            display: block; 

            top: 23px; 
            left: 13px; 

            height: 3px; 
            width: 22px;             
        }
    }

    .nav-buttons {
        margin: 15px 0;

        button {
            height: 35px;
            padding: 4px 10px;
            text-transform: uppercase;
        }
        .btn-default {
            background-color: $grayish;
            color: $greyish-brown;
        }

        .btn-info, .btn-info:hover, .btn-info:focus, .btn-info.active {
            background-color: $azure;
            color: $white;
        }
    }
        
    #create-new-booking {
        
        .panel.with-nav-tabs {
            box-shadow: none;
            margin: -10px -15px;

            .panel-heading {
                padding-bottom: 0;

                ul.nav-tabs {
                    background: none;
                    border: none;
                    border-top: solid 1px  #e0e0e0;
                    margin: 0 -15px;
                    text-align: center;

                    > li,
                    >  li.active,
                    li.active > a:focus, 
                        a,
                        > a:hover {
                        border: none;
                        margin: 0;
                        width: 50%;
                    }

                    > li {
                        border-bottom: solid 2px  #e0e0e0;

                        a, a:focus, a:hover {
                            background: none;
                            color: $greyish-brown;
                            width: 100% !important;
                        }
                    }
                    li.active {
                        border-bottom: solid 2px  $dark-red;

                        a {
                            color: $dark-red;
                        }
                    }

                }
            }

            .panel-body {
                padding: 0;
                
                #tabselecttime, 
                #tabadvisor {
                    ul {
                        margin: 0;
                        /*margin: 0 0 50px 0;*/
                        padding: 0;

                        li {
                            border-bottom: solid 1px #e0e0e0;
                            font-size: 18px;
                            list-style: none;
                            padding: 10px 20px;
                            position: relative;
                            overflow: auto;
                        }
                    }
                }
                
                #tabselecttime {
                    .lbl-morning {
                        font-size: 18px;
                    }
                    
                    .badge {
                        object-fit: contain;
                        background-color: $gray;
                        border-radius: 50%;
                        height: 29px;
                        line-height: 25px;
                        width: 29px;
                        
                        position: relative;
                        left: 20px;
                        top: -1px;
                    }
                    
                    .fa.fa-angle-left, .fa.fa-angle-right {
                        position: relative;
                        bottom: -5px;
                    }
                    
                    button {
                        color: $white;
                        width: 81px;
                        border-radius: 4px;
                        text-transform: capitalize;
                        line-height: 15px;
                    }
                    button.orange {
                        background: $orange;
                    }
                    button.green {
                        background: $green;
                    }
                    button.yellow {
                        background: $yellow;
                    }
                  }
                
                #tabadvisor {
                    border-bottom: none;
                    box-shadow: none;
                    
                    .check {
                        position: absolute;
                        top: -3px;
                        right: 52px;
                    }

                    .check-icon:after, 
                        .check-icon:before {
                        background: $azure;
                    }
                }      
            }

            .panel-footer {
                background: #f8f8f8;
                border-bottom: solid 1px #e0e0e0;
                box-shadow: none;
                color: #c4c4c4;

                /*position: fixed;
                width: 100%;
                bottom: 0;*/

                i:first-child {
                    margin-right: 6%
                }
                i:last-child {
                    margin-left: 6%;
                }
                
                i.active {
                    color: $azure;
                }
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    
}

@media (min-width: 993px){
    
}