html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
    letter-spacing: 0.5px;
    font-family: Ubuntu;
}

header {
    background: $dark-red;
}

button, button.active, button:focus, button:hover {
    outline: none !important;
}

// Cancel/Close Buttons
.close-icon {
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px; 
    background: #cccccc;
}

.close-icon:before, 
.close-icon:after {
    content: ''; 
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px; 
    
    position: absolute; 
    
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}

.close-icon:after{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

// Check Icons
.check-icon:after, 
.check-icon:before {
    content: ''; 
    height: 25px; 
    width: 3px; 
    display: block; 
        
    position: absolute; 
    top: 12px;
    left: 20px; 
    
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px; 
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);}

.check-icon:before {
    height:10px; 
    
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg); 
    top: 23px; 
    left: 8px; 
}


// Radio Buttons
input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
    color: $white;
    font-family:Arial, sans-serif;
    font-size:14px;
}
input[type="radio"] + label span {
    display:inline-block;
    width: 19px;
    height: 19px;
    margin: -1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
}

input[type="radio"] + label span {
     background-color: $white;
     border: solid 1px $greyish-brown;
}

input[type="radio"]:checked + label span{
     background-color: $azure;
     border: solid 1px $azure;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}