$greyish-brown: #4a4a4a;
$light-gray: #9b9b9b;
$gray: #bbbbbb;
$dark-red: #b8222f;
$white: #ffffff;
$grayish: #d9d9d9;
$azure: #00adef;
$black: #000000;
$orange: #e74c3c;
$yellow: #f18e2c;
$green: #0f9d58;