/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html, html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

body {
  letter-spacing: 0.5px;
  font-family: Ubuntu; }

header {
  background: #b8222f; }

button, button.active, button:focus, button:hover {
  outline: none !important; }

.close-icon {
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  background: #cccccc; }

.close-icon:before,
.close-icon:after {
  content: '';
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  position: absolute;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg); }

.close-icon:after {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg); }

.check-icon:after,
.check-icon:before {
  content: '';
  height: 25px;
  width: 3px;
  display: block;
  position: absolute;
  top: 12px;
  left: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg); }

.check-icon:before {
  height: 10px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  top: 23px;
  left: 8px; }

input[type="radio"] {
  display: none; }

input[type="radio"] + label {
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 14px; }

input[type="radio"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius: 50%;
  border-radius: 50%; }

input[type="radio"] + label span {
  background-color: #ffffff;
  border: solid 1px #4a4a4a; }

input[type="radio"]:checked + label span {
  background-color: #00adef;
  border: solid 1px #00adef; }

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear; }

@media (max-width: 768px) {
  button {
    min-width: 84px;
    line-height: 15px;
    border-radius: 2.6px;
    padding: 10px; }

  header {
    color: #ffffff;
    height: 50px;
    line-height: 50px; }
    header h4 {
      font-size: 20px;
      height: 30px;
      text-align: center;
      padding-top: 5px; }
    header .close-icon:before,
    header .close-icon:after {
      background: #ffffff;
      display: block;
      top: 23px;
      left: 13px;
      height: 3px;
      width: 22px; }

  .nav-buttons {
    margin: 15px 0; }
    .nav-buttons button {
      height: 35px;
      padding: 4px 10px;
      text-transform: uppercase; }
    .nav-buttons .btn-default {
      background-color: #d9d9d9;
      color: #4a4a4a; }
    .nav-buttons .btn-info, .nav-buttons .btn-info:hover, .nav-buttons .btn-info:focus, .nav-buttons .btn-info.active {
      background-color: #00adef;
      color: #ffffff; }

  #create-new-booking .panel.with-nav-tabs {
    box-shadow: none;
    margin: -10px -15px; }
    #create-new-booking .panel.with-nav-tabs .panel-heading {
      padding-bottom: 0; }
      #create-new-booking .panel.with-nav-tabs .panel-heading ul.nav-tabs {
        background: none;
        border: none;
        border-top: solid 1px  #e0e0e0;
        margin: 0 -15px;
        text-align: center; }
        #create-new-booking .panel.with-nav-tabs .panel-heading ul.nav-tabs > li,
        #create-new-booking .panel.with-nav-tabs .panel-heading ul.nav-tabs > li.active,
        #create-new-booking .panel.with-nav-tabs .panel-heading ul.nav-tabs li.active > a:focus,
        #create-new-booking .panel.with-nav-tabs .panel-heading ul.nav-tabs a,
        #create-new-booking .panel.with-nav-tabs .panel-heading ul.nav-tabs > a:hover {
          border: none;
          margin: 0;
          width: 50%; }
        #create-new-booking .panel.with-nav-tabs .panel-heading ul.nav-tabs > li {
          border-bottom: solid 2px  #e0e0e0; }
          #create-new-booking .panel.with-nav-tabs .panel-heading ul.nav-tabs > li a, #create-new-booking .panel.with-nav-tabs .panel-heading ul.nav-tabs > li a:focus, #create-new-booking .panel.with-nav-tabs .panel-heading ul.nav-tabs > li a:hover {
            background: none;
            color: #4a4a4a;
            width: 100% !important; }
        #create-new-booking .panel.with-nav-tabs .panel-heading ul.nav-tabs li.active {
          border-bottom: solid 2px #b8222f; }
          #create-new-booking .panel.with-nav-tabs .panel-heading ul.nav-tabs li.active a {
            color: #b8222f; }
    #create-new-booking .panel.with-nav-tabs .panel-body {
      padding: 0; }
      #create-new-booking .panel.with-nav-tabs .panel-body #tabselecttime ul,
      #create-new-booking .panel.with-nav-tabs .panel-body #tabadvisor ul {
        margin: 0;
        /*margin: 0 0 50px 0;*/
        padding: 0; }
        #create-new-booking .panel.with-nav-tabs .panel-body #tabselecttime ul li,
        #create-new-booking .panel.with-nav-tabs .panel-body #tabadvisor ul li {
          border-bottom: solid 1px #e0e0e0;
          font-size: 18px;
          list-style: none;
          padding: 10px 20px;
          position: relative;
          overflow: auto; }
      #create-new-booking .panel.with-nav-tabs .panel-body #tabselecttime .lbl-morning {
        font-size: 18px; }
      #create-new-booking .panel.with-nav-tabs .panel-body #tabselecttime .badge {
        object-fit: contain;
        background-color: #bbbbbb;
        border-radius: 50%;
        height: 29px;
        line-height: 25px;
        width: 29px;
        position: relative;
        left: 20px;
        top: -1px; }
      #create-new-booking .panel.with-nav-tabs .panel-body #tabselecttime .fa.fa-angle-left, #create-new-booking .panel.with-nav-tabs .panel-body #tabselecttime .fa.fa-angle-right {
        position: relative;
        bottom: -5px; }
      #create-new-booking .panel.with-nav-tabs .panel-body #tabselecttime button {
        color: #ffffff;
        width: 81px;
        border-radius: 4px;
        text-transform: capitalize;
        line-height: 15px; }
      #create-new-booking .panel.with-nav-tabs .panel-body #tabselecttime button.orange {
        background: #e74c3c; }
      #create-new-booking .panel.with-nav-tabs .panel-body #tabselecttime button.green {
        background: #0f9d58; }
      #create-new-booking .panel.with-nav-tabs .panel-body #tabselecttime button.yellow {
        background: #f18e2c; }
      #create-new-booking .panel.with-nav-tabs .panel-body #tabadvisor {
        border-bottom: none;
        box-shadow: none; }
        #create-new-booking .panel.with-nav-tabs .panel-body #tabadvisor .check {
          position: absolute;
          top: -3px;
          right: 52px; }
        #create-new-booking .panel.with-nav-tabs .panel-body #tabadvisor .check-icon:after,
        #create-new-booking .panel.with-nav-tabs .panel-body #tabadvisor .check-icon:before {
          background: #00adef; }
    #create-new-booking .panel.with-nav-tabs .panel-footer {
      background: #f8f8f8;
      border-bottom: solid 1px #e0e0e0;
      box-shadow: none;
      color: #c4c4c4;
      /*position: fixed;
      width: 100%;
      bottom: 0;*/ }
      #create-new-booking .panel.with-nav-tabs .panel-footer i:first-child {
        margin-right: 6%; }
      #create-new-booking .panel.with-nav-tabs .panel-footer i:last-child {
        margin-left: 6%; }
      #create-new-booking .panel.with-nav-tabs .panel-footer i.active {
        color: #00adef; } }

/*# sourceMappingURL=style.css.map */
